/**
 * Defines the CSS styles of the calendar component.
 * 
 * @author fvilarinho
 * @version 1.0.0
 */

/**
 * Style that defines the component..
 */
.calendar{
	position             : ABSOLUTE;
	width                : 225px;
	background-color     : WHITE;
	text-align           : CENTER;
	box-shadow           : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow   : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow      : 2px 3px 4px rgba(0, 0, 0, 0.3);
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	visibility           : HIDDEN;
	z-index              : 1000;
}

/**
 * Style that defines the input of the component..
 */
.calendar[type="text"]{
	position             : RELATIVE;
	width                : AUTO;
	height               : 24px;
	background-color     : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	box-shadow           : NONE;
	-webkit-box-shadow   : NONE;
	-moz-box-shadow      : NONE;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	padding              : 5px;
	outline              : NONE;
	visibility           : VISIBLE;
	z-index              : 1;
}

/**
 * Style that defines the input of the component..
 */
.calendar[type="text"]:focus{
	box-shadow        : 0 0 5px #1e8fad;
	-webkit-box-shadow: 0 0 5px #1e8fad;
	-moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the content.
 */
.calendarContent{
	width          : 100%;
	border         : NONE;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}
 
/**
 * Style that defines the current day.
 */
.currentCalendarDay{
	width      : 30px;
	height     : 25px;
	background : #1e8fad;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 12px;
	font-weight: BOLD;
	color      : WHITE;
	text-align : CENTER;
	cursor     : POINTER;
}
 
/**
 * Style that defines a day.
 */
.calendarDay{
	width      : 30px;
	height     : 25px;
	background : WHITE;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 11px;
	color      : #666666;
	text-align : CENTER;
	border     : 1px SOLID #aaaaaa;
	cursor     : POINTER;
}

/**
 * Style that defines the time.
 */
.calendarTime{
	height               : 24px;
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	padding              : 5px;
	outline              : NONE;
}

/**
 * Style that defines the time.
 */
.calendarTime:focus{
	box-shadow        : 0 0 5px #1e8fad;
	-webkit-box-shadow: 0 0 5px #1e8fad;
	-moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the selected day.
 */
.selectedCalendarDay{
	width      : 30px;
	height     : 25px;
	background : WHITE;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 12px;
	font-weight: BOLD;
	color      : #1e8fad;
	text-align : CENTER;
	border     : 1px SOLID #aaaaaa;
	cursor     : POINTER;
}

/**
 * Style that defines the days of week.
 */
.calendarWeek{
	width      : 30px;
	height     : 25px;
	background : #aaaaaa;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 12px;
	font-weight: BOLD;
	color      : WHITE;
	text-align : CENTER;
	border     : 1px OUTSET #aaaaaa;
}

/**
 * Style that defines the month.
 */
.calendarMonth{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 13px;
	font-weight: bold;
	color      : #666666;
	text-align : CENTER;
}

/**
 * Style that defines the next month button.
 */
.nextMonthButton{
	width     : 20px;
	height    : 20px;
	background: url(../images/nextPageButton.png) NO-REPEAT;
	margin    : 5px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the next year button.
 */
.nextYearButton{
	width     : 20px;
	height    : 20px;
	background: url(../images/lastPageButton.png) NO-REPEAT;
	margin    : 5px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the previous month button.
 */
.previousMonthButton{
	width     : 20px;
	height    : 20px;
	background: url(../images/previousPageButton.png) NO-REPEAT;
	margin    : 5px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the previous year button.
 */
.previousYearButton{
	width     : 20px;
	height    : 20px;
	background: url(../images/firstPageButton.png) NO-REPEAT;
	margin    : 5px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the show calendar button.
 */
.showCalendarButton{
	width     : 20px;
	height    : 20px;
	background: url(../images/showCalendarButton.png) NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}