/**
 * Defines the CSS styles of general use.
 * 
 * @author fvilarinho
 * @version 1.0.0
 */

/**
 * Default page body style.
 */
body {
    overflow-y: hidden;
}

/**
 * Style that defines the logo.
 */
.logo{
	width: 125px;
}

/**
 * Style that defines a title.
 */
.title{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 18px;
	font-weight: BOLD; 
	color      : #666666;
}

/**
 * Style that defines a subtitle
 */
.subTitle{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 16px;
	font-weight: BOLD; 
	color      : #666666;
}

/**
 * Style that defines a link.
 */
.link{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px; 
	color          : #1e8fad;
	text-decoration: NONE;
	cursor         : POINTER;
}

/**
 * Style that defines a link when the mouse is over it.
 */
.link:hover{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px; 
	color          : #1e8fad;
	text-decoration: UNDERLINE;
}

/**
 * Style that defines a label.
 */
.label{
	width      : 150px;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 14px; 
	color      : #666666;
	white-space: NOWRAP;
	overflow   : HIDDEN;
}

/**
 * Style that defines a group.
 */
.group{
	color                : #666666;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	outline              : NONE;
}

/**
 * Style that defines the label of a group.
 */
.groupLabel{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 14px;
	font-weight: BOLD;
	color      : #666666;
}

/**
 * Style that defines the text box component.
 */
.textBox{
	height               : 24px;
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	padding              : 5px;
	outline              : NONE;
}

/**
 * Style that defines the text box component when it has focus.
 */
.textBox:focus{
	box-shadow        : 0 0 5px #1e8fad;
    -webkit-box-shadow: 0 0 5px #1e8fad;
    -moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the text area component.
 */
.textArea{
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
}

/**
 * Style that defines the text area component when it has focus.
 */
.textArea:focus{
	box-shadow        : 0 0 5px #1e8fad;
    -webkit-box-shadow: 0 0 5px #1e8fad;
    -moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the password component.
 */
.password{
	height               : 24px;
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	padding              : 5px;
	outline              : NONE;
}

/**
 * Style that defines the password component when it has focus.
 */
.password:focus{
	box-shadow        : 0 0 5px #1e8fad;
    -webkit-box-shadow: 0 0 5px #1e8fad;
    -moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the list component.
 */
.list{
	height               : 24px;
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	outline              : NONE;
}

.list[multiple]{
	height               : AUTO;
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	outline              : NONE;
}

/**
 * Style that defines the list component when it has focus.
 */
.list:focus{
	box-shadow        : 0 0 5px #1e8fad;
    -webkit-box-shadow: 0 0 5px #1e8fad;
    -moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the option when it is selected.
 */
option[selected]{
	background: #1e8fad;
	color     : WHITE;	
}

/**
 * Style that defines the option when the mouse is over it.
 */
option:hover{
	background: #1e8fad;
	color     : WHITE;	
}

/**
 * Style that defines the options component.
 */
.options{
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
}

/**
 * Style that defines a button.
 */
.button{
	background           : #efefef;
	white-space          : NOWRAP;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-moz-border-radius   : 3px;
	-webkit-border-radius: 3px;
	border               : 1px SOLID #aaaaaa;
	cursor               : POINTER;
}

/**
 * Style that defines a disabled button.
 */
.buttonDisabled{
	background           : #efefef;
	white-space          : NOWRAP;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-moz-border-radius   : 3px;
	-webkit-border-radius: 3px;
	border               : 1px SOLID #aaaaaa;
	cursor               : POINTER;
}

/**
 * Style that defines a button icon.
 */
.buttonIcon{
}

/**
 * Style that defines the button when the mouse is over it.
 */
.button:hover{
	background        : #fafafa;
	box-shadow        : 0 0 5px #1e8fad;
    -webkit-box-shadow: 0 0 5px #1e8fad;
    -moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the button when it has focus.
 */
.button:focus{
	box-shadow        : 0 0 5px #1e8fad;
    -webkit-box-shadow: 0 0 5px #1e8fad;
    -moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the button label.
 */
.buttonLabel{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 14px;
	color      : #666666;
	text-align : CENTER;
	white-space: NOWRAP;
}

/**
 * Style that defines the disabled button label.
 */
.buttonLabelDisabled{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 14px;
	color      : #aaaaaa;
	text-align : CENTER;
	white-space: NOWRAP;
}

/**
 * Style that defines the cancel button.
 */
.cancelButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/cancelButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the close button.
 */
.closeButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/closeButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the close button icon.
 */
.closeButtonIcon{
	width : 0;
	height: 0;
}

/**
 * Style that defines the confirm button.
 */
.confirmButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/confirmButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the back button.
 */
.backButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/backButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the search button.
 */
.searchButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/searchButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the save button.
 */
.saveButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/saveButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the add button.
 */
.addButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/addButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the edit button.
 */
.editButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/editButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the delete button.
 */
.deleteButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/deleteButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the print button.
 */
.printButton{
	width     : 28px;
	height    : 24px;
	background: url("../images/printButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the refresh button.
 */
.refreshButton{
	width     : 28px;
	height    : 28px;
	background: url("../images/refreshButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the upload button.
 */
.uploadButton{
	width     : 26px;
	height    : 26px;
	background: url("../images/uploadButton.png") NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the upload.
 */
.upload{
	border        : NONE;
	border-spacing: 0;
}

/**
 * Style that defines the upload.
 */
.upload td{
	padding: 0;
}

/**
 * Style that defines the download.
 */
.download{
	background           : #fffffa;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	border-spacing       : 10px;
}

/**
 * Style that defines the download.
 */
.download td{
	padding: 10px;
}

/**
 * Style that defines the PDF icon.
 */
.pdfIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/pdfIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the JSON icon.
 */
.jsonIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/jsonIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the binary icon.
 */
.binaryIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/binaryIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the CSV icon.
 */
.csvIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/csvIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the RTF icon.
 */
.rtfIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/rtfIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the DOC icon.
 */
.pptIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/pptIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the PPTX icon.
 */
.pptxIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/pptIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the PPT icon.
 */
.docIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/docIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the DOCX icon.
 */
.docxIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/docIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the XLS icon.
 */
.xlsIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/xlsIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the XLSX icon.
 */
.xlsxIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/xlsIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the GIF icon.
 */
.gifIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/gifIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines JPG icon.
 */
.jpgIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/jpgIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the PNG icon.
 */
.pngIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/pngIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the HTML icon.
 */
.htmlIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/htmlIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the JS icon.
 */
.jsIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/jsIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the JS icon.
 */
.cssIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/cssIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the TXT icon.
 */
.txtIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/txtIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines the XML icon.
 */
.xmlIcon{
	width     : 50px;
	height    : 50px;
	background: url("../images/xmlIcon.png") NO-REPEAT;
	cursor    : POINTER;
}

/**
 * Style that defines an image.
 */
.image{
}

/**
 * Style that defines the image thumbnail.
 */
.imageThumbnail{
	background: WHITE;
	border    : 1px SOLID #aaaaaa;
}

/**
 * Style that defines loading box.
 */
.loadingBox{
	position             : ABSOLUTE;
	background           : WHITE;
	box-shadow           : 2px 3px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow   : 2px 3px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow      : 2px 3px 4px rgba(0, 0, 0, 0.3);
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	padding              : 2px;
	visibility           : HIDDEN;
	z-index              : 1002;
}

/**
 * Style that defines loading box text.
 */
.loadingBoxText{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 13px;
	font-weight: BOLD;
	color      : #666666;
	text-align : CENTER;
}

/**
 * Style that defines loading box icon.
 */
.loadingBoxIcon{
	width     : 32px;
	height    : 32px;
	background: url(../images/loadingBoxIcon.gif) NO-REPEAT;
}
 
/**
 * Style that defines the page shade.
 */
.pageShade{
	position  : ABSOLUTE; 
	left      : 0;
	top       : 0;
	background: #aaaaaa;
	opacity   : 0.5;
	border    : NONE;
	visibility: HIDDEN;
	z-index   : 1000;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/**
 * Style that defines the page header.
 */
.header{
	width                          : 100%;
	min-height                     : 70px;
	height:                        : 70px;
	background                     : #efefef;
	font-family                    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size                      : 14px;
	font-weight                    : NORMAL;
	color                          : #666666;
	text-align                     : CENTER;
	white-space                    : NOWRAP;
	border-top-left-radius         : 3px;
	border-top-right-radius        : 3px;
	-webkit-border-top-left-radius : 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft     : 3px;
	-moz-border-radius-topright    : 3px;
	border                         : 1px SOLID #aaaaaa;
}

/**
 * Style that defines the page content.
 */
.content{
	width          : 100%;
	min-height     : 275px;
	height         : calc(100vh - 200px);
	background     : WHITE;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #666666;
	text-align     : CENTER;
	border-left    : 1px SOLID #aaaaaa;
	border-right   : 1px SOLID #aaaaaa;
	border-spacing : 0;
	border-collapse: COLLAPSE;
	padding        : 0;
}

/**
 * Style that defines a content panel.
 */
.contentPanel{
	width          : 100%;
	border         : NONE;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines a panel.
 */
.contentPanel td{
	padding: 0;
}

/**
 * Style that defines the page footer.
 */
.footer{
	width                             : 100%;
	min-height                        : 40px;
	height                            : 40px;
	background                        : #efefef;
	font-family                       : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size                         : 14px;
	font-weight                       : NORMAL;
	color                             : #666666;
	text-align                        : CENTER;
	border-bottom-left-radius         : 3px;
	border-bottom-right-radius        : 3px;
	-webkit-border-bottom-left-radius : 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft     : 3px;
	-moz-border-radius-bottomright    : 3px;
	border                            : 1px SOLID #aaaaaa;
}

/**
 * Style that defines the navigation bar.
 */
.navigationBar{
	width          : 100%;
	min-height     : 40px;
	height         : 40px;
	background     : WHITE;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #666666;
	border-left    : 1px SOLID #aaaaaa;
	border-right   : 1px SOLID #aaaaaa;
	border-bottom  : 1px SOLID #aaaaaa;
	border-top     : none;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the navigation bar.
 */
.navigationBar td{
	padding: 0;
}