/**
 * Defines the CSS styles of the dialog boxes components.
 * 
 * @author fvilarinho
 * @version 3.0.0
 */
 
/**
 * Style that defines the component.
 */
.dialogBox{
	position  : ABSOLUTE;
	visibility: HIDDEN;
	z-index   : 1001;
}

/**
 * Style that defines the title of the component.
 */
.dialogBoxTitle{
	height     : 25px;
	background : url(../images/dialogBoxTitle.gif) REPEAT-X;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 14px;
	font-weight: BOLD;
	color      : #666666;
	text-align : CENTER;
	white-space: NOWRAP;
}

/**
 * Style that defines the content of the component.
 */
.dialogBoxContent{
	background           : #efefef;
	box-shadow           : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow   : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow      : 2px 3px 4px rgba(0, 0, 0, 0.3);
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	border-spacing       : 0;
}

/**
 * Style that defines the content of the component.
 */
.dialogBoxContent td{
	padding: 0;
}

/**
 * Style that defines the text of the content.
 */
.dialogBoxText{
	background    : #efefef;
	font-family   : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size     : 14px;
	color         : #666666;
	word-wrap     : break-word;
	border        : NONE;
	border-spacing: 0;
	padding       : 10px;
}

/**
 * Style that defines the information icon.
 */
.infoIcon{
	width     : 50px;
	height    : 50px;
	background: url(../images/infoIcon.png) NO-REPEAT;
}

/**
 * Style that defines the error icon.
 */
.errorIcon{
	width     : 50px;
	height    : 50px;
	background: url(../images/errorIcon.png) NO-REPEAT;
}

/**
 * Style that defines the warning icon.
 */
.warningIcon{
	width     : 50px;
	height    : 50px;
	background: url(../images/warningIcon.png) NO-REPEAT;
}

/**
 * Style that defines the validation icon.
 */
.validationIcon{
	width     : 50px;
	height    : 50px;
	background: url(../images/warningIcon.png) NO-REPEAT;
}