/**
 * Defines the CSS styles of the guides component.
 * 
 * @author fvilarinho
 * @version 1.0.0
 */
  
/**
 * Style that defines the component.
 */
.guides{
	border         : NONE;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}
 
/**
 * Style that defines the component.
 */
.guides td{
	padding: 0;
}

/**
 * Style that defines a guide.
 */
.guide{
	height                         : 25px;
	background                     : url(../images/guide.jpg) REPEAT-X;
	font-family                    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size                      : 14px;
	font-weight                    : NORMAL;
	color                          : #666666;
	text-align                     : CENTER;
	border-top-left-radius         : 3px;
	border-top-right-radius        : 3px;
	-webkit-border-top-left-radius : 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft     : 3px;
	-moz-border-radius-topright    : 3px;
	border                         : 1px SOLID #aaaaaa;
	border-spacing                 : 0;
	padding                        : 1px;
	cursor                         : POINTER;
}

/**
 * Style that defines the current guide.
 */
.currentGuide{
	height                         : 27px;
	background                     : url(../images/currentGuide.jpg) REPEAT-X;
	font-family                    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size                      : 15px;
	font-weight                    : BOLD;
	color                          : #666666;
	text-align                     : CENTER;
	border-top-left-radius         : 3px;
	border-top-right-radius        : 3px;
	-webkit-border-top-left-radius : 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft     : 3px;
	-moz-border-radius-topright    : 3px;
	border-top                     : 1px SOLID #aaaaaa;
	border-left                    : 1px SOLID #aaaaaa;
	border-right                   : 1px SOLID #aaaaaa;
	border-bottom                  : NONE;
	border-spacing                 : 0;
	cursor                         : POINTER;
}
			
/**
 * Style that defines the content of a guide.
 */
.guideContent{
	width                             : 100%;
	background                        : #efefef;
	font-family                       : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size                         : 14px;
	color                             : #666666;
	border-bottom-left-radius         : 3px;
	border-bottom-right-radius        : 3px;
	-webkit-border-bottom-left-radius : 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft     : 3px;
	-moz-border-radius-bottomright    : 3px;
	border-bottom                     : 1px SOLID #aaaaaa;
	border-left                       : 1px SOLID #aaaaaa;
	border-right                      : 1px SOLID #aaaaaa;
	border-top                        : NONE;
	border-spacing                    : 10px;
}

/**
 * Style that defines the content of a guide.
 */
.guideContent td{
	padding: 0;
}

/**
 * Style that defines the navigation buttons.
 */
.guidesButtons{
	height    : 40px;
	background: #efefef;
	text-align: RIGHT;
}

/**
 * Style that defines the previous guide button.
 */
.previousGuideButton{
	width     : 24px;
	height    : 20px;
	background: url(../images/firstPageButton.png) NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the next guide button.
 */
.nextGuideButton{
	width     : 24px;
	height    : 20px;
	background: url(../images/lastPageButton.png) NO-REPEAT;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}