/**
 * Defines the CSS styles of the login session box component.
 * 
 * @author fvilarinho
 * @version 3.3.0
 */
 
/**
 * Style that defines the component.
 */
.loginSessionBox{
    border         : NONE;
    border-spacing : 0px;
	border-collapse: COLLAPSE;
    background     : WHITE;
    text-align     : LEFT;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	color          : #666666;
}

/**
 * Style that defines the component.
 */
.loginSessionBox td{
	padding: 0px;
	height : 30px;
}

/**
 * Style that defines the label of 'logged as' attribute.
 */
.loginSessionBoxLoggedAsLabel{
    border-collapse: COLLAPSE;
	border-spacing : 0px;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	color          : #666666;
}

/**
 * Style that defines the 'logged as' attribute.
 */
.loginSessionBoxLoggedAs{
    border-collapse: COLLAPSE;
	border-spacing : 0px;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	color          : #1e8fad;
	cursor         : POINTER;
}

/**
 * Style that defines the 'logged as' attribute when the mouse is over it.
 */
.loginSessionBoxLoggedAs:hover{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px; 
	color          : #1e8fad;
	text-decoration: UNDERLINE;
}

/**
 * Style that defines the full name.
 */
.loginSessionBoxUserFullName{
    border-collapse: COLLAPSE;
	border-spacing : 0px;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 16px;
	color          : #666666;
	font-weight    : BOLD;
}

/**
 * Style that defines the label of 'logged in' attribute.
 */
.loginSessionBoxLoggedInLabel{
    border-collapse: COLLAPSE;
	border-spacing : 0px;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	color          : #666666;
	width          : 100%;
	text-align     : CENTER;
}

/**
 * Style that defines the 'logged in' attribute.
 */
.loginSessionBoxLoggedIn{
    border-collapse: COLLAPSE;
	border-spacing : 0px;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	color          : #666666;
	width          : 100%;
	text-align     : CENTER;
}

/**
 * Style that defines the user logo.
 */
.loginSessionBoxUserLogo{
	width        : 75px;
	height       : 75px;
	border-radius: 50%;
	line-height  : 75px;
    border       : 1px SOLID #aaaaaa;
    background   : #efefef;
}

/**
 * Style that defines the user default logo.
 */
.loginSessionBoxNoUserLogo{
	width        : 75px;
	height       : 75px;
	border-radius: 50%;
	line-height  : 75px;
    border       : 1px SOLID #aaaaaa;
    background   : url(../images/noUserImage.gif) no-repeat;
}

/**
 * Style that defines the content.
 */
.loginSessionBoxContent{
	position          : ABSOLUTE;
    background        : WHITE;
    border            : 1px SOLID #aaaaaa;
	-moz-box-shadow   : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
	box-shadow        : 2px 3px 4px rgba(0, 0, 0, 0.3);	
	-ms-filter        : "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
	filter            : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
	padding           : 2px;
	width             : 182px;
	height            : 250px;
	text-align        : CENTER;
	visibility        : HIDDEN;
}

/**
 * Style that defines the content.
 */
.loginSessionBoxContent table{
	margin: 0 AUTO;
}

/**
 * Style that defines the content.
 */
.loginSessionBoxContent table td{
	text-align:  CENTER;
}