/**
 * Defines the CSS styles of the login session box component.
 * 
 * @author fvilarinho
 * @version 3.3.0
 */
 
/**
 * Style that defines the component.
 */
.loginSessionBox{
    background     : WHITE;
    text-align     : LEFT;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #666666;
	border         : NONE;
	border-spacing : 0;
	border-collapse: COLLAPSE;
}

/**
 * Style that defines the component.
 */
.loginSessionBox td{
	height : 30px;
	padding: 0;
}

/**
 * Style that defines the label of 'logged as' attribute.
 */
.loginSessionBoxLoggedAsLabel{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #666666;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the 'logged as' attribute.
 */
.loginSessionBoxLoggedAs{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #1e8fad;
	border-collapse: COLLAPSE;
	border-spacing : 0;
	cursor         : POINTER;
}

/**
 * Style that defines the 'logged as' attribute when the mouse is over it.
 */
.loginSessionBoxLoggedAs:hover{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px; 
	color          : #1e8fad;
	text-decoration: UNDERLINE;
}

/**
 * Style that defines the full name.
 */
.loginSessionBoxUserFullName{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 16px;
	font-weight    : BOLD;
	color          : #666666;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the label of 'logged in' attribute.
 */
.loginSessionBoxLoggedInLabel{
	width          : 100%;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #666666;
	text-align     : CENTER;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the 'logged in' attribute.
 */
.loginSessionBoxLoggedIn{
	width          : 100%;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #666666;
	text-align     : CENTER;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the user logo.
 */
.loginSessionBoxUserLogo{
	width        : 75px;
	height       : 75px;
	background   : #efefef;
	line-height  : 75px;
	border-radius: 50%;
    border       : 1px SOLID #aaaaaa;
}

/**
 * Style that defines the user default logo.
 */
.loginSessionBoxNoUserLogo{
	width        : 75px;
	height       : 75px;
	background   : url(../images/noUserImage.gif) no-repeat;
	line-height  : 75px;
	border-radius: 50%;
    border       : 1px SOLID #aaaaaa;
}

/**
 * Style that defines the content.
 */
.loginSessionBoxContent{
	position          : ABSOLUTE;
	width             : 182px;
	height            : 250px;
    background        : WHITE;
	box-shadow        : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow   : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
	border            : 1px SOLID #aaaaaa;
	padding           : 2px;
	text-align        : CENTER;
	visibility        : HIDDEN;
}

/**
 * Style that defines the content.
 */
.loginSessionBoxContent table{
	margin: 0 AUTO;
}

/**
 * Style that defines the content.
 */
.loginSessionBoxContent table td{
	text-align:  CENTER;
}