/**
 * Style that defines the component.
 */
.maps{
	border: 1px SOLID #aaaaaa;
}

/**
 * Style that defines the component input.
 */
.mapsInput{
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius   : 3px 3px 0 0;
	border               : 1px SOLID #aaaaaa;
	border-radius        : 3px 3px 0 0;
	border-bottom        : NONE;
	outline              : NONE;
}