/**
 * Defines the CSS styles of the menu bar component.
 * 
 * @author fvilarinho
 * @version 1.0.0
 */
 
/**
 * Style that defines the menu bar.
 */
.menuBar{
	position  : RELATIVE;
    background: WHITE;
	text-align: LEFT;
    border    : NONE;
    padding   : 2px;
}

/**
 * Style that defines the sub-menus.
 */
.menuBox{
	position          : ABSOLUTE;
    background        : WHITE;
	box-shadow        : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow   : 2px 3px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
	border            : 1px SOLID #aaaaaa;
	padding           : 2px;
	visibility        : HIDDEN;
	z-index           : 1001;
}

/**
 * Style that defines the content of the menu bar.
 */
.menuBarContent{
	border         : NONE;
    border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the content of the menu bar.
 */
.menuBarContent td{
	padding: 0;
	height : 30px;
}

/**
 * Style that defines the content do the sub-menus.
 */
.menuBoxContent{
	border         : NONE;
    border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the content do the sub-menus.
 */
.menuBoxContent td{
	padding: 0;
}

/**
 * Style that defines a menu item.
 */
.menuItem{
	height     : 30px;
    font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
    font-size  : 14px;
    color      : #666666;
    white-space: NOWRAP;
	padding    : 2px 4px;
    cursor     : POINTER;
}

/**
 * Style that defines a selected menu item.
 */
.menuItemSelected{
	height     : 30px;
    background : #1e8fad;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 14px;
	color      : WHITE;
	white-space: NOWRAP;
	padding    : 2px 4px;
    cursor     : POINTER;
}

/**
 * Style that defines a menu bar item separator.
 */
.menuBarSeparator{
	width      : 2px;
	height     : 85%;
    border-left: 1px SOLID #aaaaaa;
}

/**
 * Style that defines a sub-menu item separator.
 */
.menuBoxSeparator{
	width     : 95%;
	height    : 2px;
    border-top: 1px SOLID #aaaaaa;
}

/**
 * Styles that defines the navigation history.
 */
.breadCrumb{
	width          : 100%;
	height         : 30px;
	background     : WHITE;
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size      : 14px;
	color          : #666666;
	border-collapse: COLLAPSE;
	border-spacing : 5px;
	border-left    : 1px SOLID #aaaaaa;
	border-right   : 1px SOLID #aaaaaa; 
	border-bottom  : none;
	border-top     : none;
}

/**
 * Styles that defines the navigation history.
 */
.breadCrumb td{
	padding: 5px;
}