/**
 * Defines the CSS styles of the message box component.
 * 
 * @author fvilarinho
 * @version 1.0.0
 */
  
/**
 * Style that defines the error trace.
 */
.errorTrace{
	height     : 250px;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 14px;
	border     : 1px SOLID SILVER;
	width      : 500px;
}