/**
 * Defines the CSS styles of the pager component.
 * 
 * @author fvilarinho
 * @version 1.0.0
 */
 
/**
 * Style that defines the first page button.
 */
.firstPageButton{
	background: url("../images/firstPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the disabled first page button.
 */
.firstPageButtonDisabled{
	background: url("../images/firstPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Style that defines the previous page button.
 */
.previousPageButton{
	background: url("../images/previousPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the disabled previous page button.
 */
.previousPageButtonDisabled{
	background: url("../images/previousPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Style that defines the next page button.
 */
.nextPageButton{
	background: url("../images/nextPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the disabled next page button.
 */
.nextPageButtonDisabled{
	background: url("../images/nextPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Style that defines the last page button.
 */
.lastPageButton{
	background: url("../images/lastPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	outline   : NONE;
	cursor    : POINTER;
}

/**
 * Style that defines the disabled last page button.
 */
.lastPageButtonDisabled{
	background: url("../images/lastPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Style that defines the component.
 */
.pager{
	padding       : 2px;
	border-spacing: 0px;
}

/**
 * Style that defines the text of the component.
 */
.pagerDisplay{
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size            : 14px;
	font-weight          : BOLD;
	color                : #1e8fad;
	width                : 20px;
	background           : WHITE;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	border               : 1px SOLID #aaaaaa;
	height               : 24px;                 
}