/**
 * Defines the CSS styles of the slider bar component.
 * 
 * @author fvilarinho
 * @version 3.0.0
 */

/**
 * Style that defines the slider bar component.
 */
.sliderBar{
	position  : RELATIVE;
	left      : 0;
	top       : 10px;
	width     : 100%;
	height    : 5px;
	background: url(../images/sliderBar.png) REPEAT-X;
}

/**
 * Style that defines the input of the slider bar component.
 */
.sliderBar[type="text"]{
	left                 : 0;
	top                  : 0;
	width                : AUTO;
	height               : 24px;
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	box-shadow           : NONE;
    -webkit-box-shadow   : NONE;
    -moz-box-shadow      : NONE;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	padding              : 5px;
	outline              : NONE;
}

/**
 * Style that defines the control of the slider bar component.
 */
.sliderBarControl{
	position  : RELATIVE;
	left      : 0;
	top       : 0;
	width     : 17px;
	height    : 19px;
	float     : LEFT;
	background: url(../images/sliderBarControl.png) NO-REPEAT;
	z-index   : 1;
}