/**
 * Defines the CSS styles of the spinner component.
 * 
 * @author fvilarinho
 * @version 3.0.0
 */

.spinner{
	height               : 24px;
	background           : WHITE;
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size            : 14px;
	color                : #666666;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border               : 1px SOLID #aaaaaa;
	padding              : 5px;
	outline              : NONE;
}

/**
 * Style that defines the spinner component when it has focus.
 */
.spinner:focus{
	box-shadow        : 0 0 5px #1e8fad;
    -webkit-box-shadow: 0 0 5px #1e8fad;
    -moz-box-shadow   : 0 0 5px #1e8fad;
	border            : 1px SOLID #1e8fad;
}

/**
 * Style that defines the content of the spinner component.
 */
.spinnerContent{
	width          : 100%;
	border         : NONE;
	border-collapse: COLLAPSE;
	border-spacing : 0;
}

/**
 * Style that defines the content of the spinner component.
 */
.spinnerContent td{
	padding: 0;
}

/**
 * Style that defines the add button.
 */
.addSpinnerButton{
	width                : 24px;
	height               : 24px;
	background           : #efefef;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius   : 3px 0 0 3px;
	border-top           : 1px SOLID #aaaaaa;
	border-left          : 1px SOLID #aaaaaa;
	border-right         : 1px SOLID #aaaaaa;
	border-bottom        : 1px SOLID #aaaaaa;
	cursor               : POINTER;
	white-space          : NOWRAP;
}

/**
 * Style that defines the disabled add button.
 */
.addSpinnerButtonDisabled{
	width                : 24px;
	height               : 24px;
	background           : #efefef;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius   : 3px 0 0 3px;
	border-top           : 1px SOLID #aaaaaa;
	border-left          : 1px SOLID #aaaaaa;
	border-right         : 1px SOLID #aaaaaa;
	border-bottom        : 1px SOLID #aaaaaa;
	cursor               : POINTER;
	white-space          : NOWRAP;
}
 
/**
 * Style that defines the add button when the mouse is over it.
 */
.addSpinnerButton:hover{
	width                : 24px;
	height               : 24px;
	background           : #fafafa;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius   : 3px 0 0 3px;
	border-top           : 1px SOLID #aaaaaa;
	border-left          : 1px SOLID #aaaaaa;
	border-right         : 1px SOLID #aaaaaa;
	border-bottom        : 1px SOLID #aaaaaa;
	cursor               : POINTER;
	white-space          : NOWRAP;
}

/**
 * Style that defines the subtract button.
 */
.subtractSpinnerButton{
	width                : 24px;
	height               : 24px;
	background           : #efefef;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius   : 0 3px 3px 0;
	border-top           : 1px SOLID #aaaaaa;
	border-left          : NONE;
	border-right         : 1px SOLID #aaaaaa;
	border-bottom        : 1px SOLID #aaaaaa;
	cursor               : POINTER;
	white-space          : NOWRAP;
}

/**
 * Style that defines the disabled subtract button.
 */
.subtractSpinnerButtonDisabled{
	width                : 24px;
	height               : 24px;
	background           : #efefef;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius   : 0 3px 3px 0;
	border-top           : 1px SOLID #aaaaaa;
	border-left          : NONE;
	border-right         : 1px SOLID #aaaaaa;
	border-bottom        : 1px SOLID #aaaaaa;
	cursor               : POINTER;
	white-space          : NOWRAP;
}

/**
 * Style that defines the subtract button when the mouse is over it.
 */
.subtractSpinnerButton:hover{
	width                : 24px;
	height               : 24px;
	background           : #fafafa;
	transition           : all 0.25s ease-in-out;
	-webkit-transition   : all 0.25s ease-in-out;
	-moz-transition      : all 0.25s ease-in-out;
	border-radius        : 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius   : 0 3px 3px 0;
	border-top           : 1px SOLID #aaaaaa;
	border-left          : NONE;
	border-right         : 1px SOLID #aaaaaa;
	border-bottom        : 1px SOLID #aaaaaa;
	cursor               : POINTER;
	white-space          : NOWRAP;
}

/**
 * Style that defines o label of the buttons.
 */
.spinnerButtonLabel{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 18px;
	font-weight: BOLD;
	color      : #666666;
}