/**
 * Defines the CSS styles of the timer component.
 * 
 * @author fvilarinho
 * @version 3.0.0
 */
 
/**
 * Style that defines the component.
 */
.timer{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif, serif;
	font-size  : 14px;
	color      : #666666;
	white-space: NOWRAP;
}