/**
 * Defines the CSS styles of the tree view component.
 * 
 * @author fvilarinho
 * @version 1.0.0
 */
 
/**
 * Style that defines the component.
 */
.treeView{
	background           : WHITE;
	padding              : 5px;
    border-spacing       : 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	border               : 1px SOLID #aaaaaa;
	width                : 450px;
	overflow             : AUTO;
}

/**
 * Style that defines the content of the component.
 */
.treeViewContent{
}

/**
 * Style that defines the node trace line.
 */
.treeViewTrace{
	width : 20px;
	height: 20px;
}

/**
 * Style that defines o label of the node.
 */
.treeViewNodeLabel{
	border     : none;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 14px;	
	color      : #666666;
	cursor     : POINTER;
	white-space: NOWRAP;
}	

/**
 * Style that defines o label of the selected node.
 */
.selectedTreeViewNodeLabel{
	border     : none;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 14px;
	font-weight: BOLD;	
	color      : #1e8fad;
	cursor     : POINTER;
	white-space: NOWRAP;
}

/**
 * Style that defines the icon of the node.
 */
.treeViewNodeIcon{
	background : url(../images/nodeIcon.gif) NO-REPEAT;
	width      : 20px;
	height     : 20px;
	cursor     : POINTER;
}

/**
 * Style that defines the closed node icon.
 */
.closedTreeViewNodeIcon{
	background: url(../images/closedNodeIcon.png) NO-REPEAT;
	width     : 20px;
	height    : 20px;
	cursor    : POINTER;
}	

/**
 * Style that defines the opened node icon.
 */
.openedTreeViewNodeIcon{
	background: url(../images/openedNodeIcon.png) NO-REPEAT;
	width     : 20px;
	height    : 20px;
	cursor    : POINTER;
}	

/**
 * Style that defines the collapsed node icon.
 */
.collapsedTreeViewNodeIcon{
	background: url(../images/collapsedNodeIcon.gif) NO-REPEAT;
	width     : 16px;
	height    : 20px;
	cursor    : POINTER;
}

/**
 * Style that defines the expanded node icon.
 */
.expandedTreeViewNodeIcon{
	background: url(../images/expandedNodeIcon.gif) NO-REPEAT;
	width     : 16px;
	height    : 20px;
	cursor    : POINTER;
}