name: Framework CI/CD pipeline

on:
  push:
    branches: 
      - '*'
    paths-ignore:
      - '*.md'
      - 'LICENSE'
      - 'docs/**'

jobs:
  run:
    name: Jobs
    env:
      REPOSITORY_URL: ${{ secrets.REPOSITORY_URL }}
      REPOSITORY_USERNAME: ${{ secrets.REPOSITORY_USERNAME }}
      REPOSITORY_PASSWORD: ${{ secrets.REPOSITORY_PASSWORD }}
    runs-on: ubuntu-latest

    steps:
    - name: Download project files
      uses: actions/checkout@v5

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: corretto
        java-version: 21

    - name: Build and Test
      run: ./build.sh

    - name: Code Analysis
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
        SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
      run: ./codeAnalysis.sh

    - name: Publish
      if: contains(github.event.files, 'gradle.properties')
      run: ./publish.sh