name: Framework CI/CD pipeline

on:
  push:
    branches: 
      - '*'
    paths-ignore:
      - '*.md'
      - 'LICENSE'

jobs:
  run:
    name: Jobs
    env:
      REPOSITORY_URL: ${{ secrets.REPOSITORY_URL }}
      REPOSITORY_USERNAME: ${{ secrets.REPOSITORY_USERNAME }}
      REPOSITORY_PASSWORD: ${{ secrets.REPOSITORY_PASSWORD }}
    runs-on: ubuntu-latest

    steps:
    - name: Download project files
      uses: actions/checkout@v4

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Build and Test
      run: ./build.sh

    - name: Code Analysis
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
        SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
      run: ./codeAnalysis.sh

    - name: Publish
      if: contains(github.event.files, 'gradle.properties')
      run: ./publish.sh